@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

:root {
  --h-header: 4rem
}

/* Scroll margin to the top of the page to the element with the id */
[id] {
  scroll-margin-top: 30vh;
}

@utility h-header {
  height: var(--h-header);
}

@utility top-header {
  top: var(--h-header);
}

@utility h-screen-header {
  height: calc(100dvh - var(--h-header));
}

.p-popover {
  border: 1px solid oklch(var(--bc) / 0.2);
  border-radius: var(--rounded-box, 1rem);
  background-color: oklch(var(--b1));
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  z-index: 1000;
}
.p-popover::before,
.p-popover::after {
  display: none !important;
}

/* Fontes personalizadas */
.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: 'Times New Roman', Times, serif;
}

.font-verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.font-georgia {
  font-family: Georgia, 'Times New Roman', serif;
}

.font-courier {
  font-family: 'Courier New', Courier, monospace;
}