@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

:root {
  --h-header: 4rem
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Scroll margin to the top of the page to the element with the id */
[id] {
  scroll-margin-top: 25vh;
}

@utility h-header {
  height: var(--h-header);
}

@utility top-header {
  top: var(--h-header);
}

@utility h-screen-header {
  height: calc(100dvh - var(--h-header));
}

.p-popover {
  border: var(--border);
  border-radius: var(--radius-box);
  background-color: var(--color-base-200);
}
.p-popover::before,
.p-popover::after {
  display: none !important;
}

/* Fontes personalizadas */
.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.font-times {
  font-family: 'Times New Roman', Times, serif;
}

.font-verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.font-georgia {
  font-family: Georgia, 'Times New Roman', serif;
}

.font-courier {
  font-family: 'Courier New', Courier, monospace;
}