@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

:root {
  --h-header: 4rem
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Scroll margin to the top of the page to the element with the id */
[id] {
  scroll-margin-top: 25vh;
}

@utility h-header {
  height: var(--h-header);
}

@utility top-header {
  top: var(--h-header);
}

@utility h-screen-header {
  height: calc(100dvh - var(--h-header));
}

/* color-scheme dynamically based on the theme (data-theme) */
[data-theme="light"],
[data-theme="retro"],
[data-theme="cupcake"],
[data-theme="bumblebee"],
[data-theme="emerald"],
[data-theme="corporate"],
[data-theme="valentine"],
[data-theme="garden"],
[data-theme="aqua"],
[data-theme="lofi"],
[data-theme="pastel"],
[data-theme="fantasy"],
[data-theme="wireframe"],
[data-theme="cmyk"],
[data-theme="autumn"],
[data-theme="acid"],
[data-theme="lemonade"],
[data-theme="winter"],
[data-theme="nord"],
[data-theme="cyberpunk"] {
  color-scheme: light !important;
}

[data-theme="dark"],
[data-theme="synthwave"],
[data-theme="halloween"],
[data-theme="forest"],
[data-theme="black"],
[data-theme="luxury"],
[data-theme="dracula"],
[data-theme="business"],
[data-theme="night"],
[data-theme="coffee"],
[data-theme="dim"],
[data-theme="sunset"] {
  color-scheme: dark !important;
}

/* Custom fonts */
@theme {
  --font-arial: "Arial", sans-serif;
  --font-courier: 'Courier New', Courier, monospace;
}

/* Primevue components */
.p-popover {
  border: var(--border) !important;
  border-radius: var(--radius-box) !important;
  background-color: var(--color-base-300) !important;
}
.p-popover::before,
.p-popover::after {
  display: none !important;
}
